*,
*::after,
*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
}
:root{
    --clr--dark: black;
    --clr--white: white;
    max-width: 1140px;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    height: 90vh;
    /* background-color: black; */
   display: flex;
   align-items: center;
   justify-content: center;00
}
.form-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* height: 5rem; */
    /* background-color: aq; */
    gap: 0.5rem;
}
.btn{
    display: inline-block;
    border-radius: 8px;
    padding: 0.8em 1.5rem;
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: aqua;
}
.input-item{
    padding: 0.8em 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 0.5rem;
   }
   ul{
    background-color: rgb(54, 53, 53);
    list-style: none;
    color: antiquewhite;
    margin: 1rem auto;
    text-align: center;
    padding-top: 5px;
   }
   .btn:hover{
    background-color:rebeccapurple;
   }
   .input-item{
    background-color: black;
    color: aliceblue;
   }
